<%= form_for(@weigh_in) do |f| %>
  <% if @weigh_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weigh_in.errors.count, "error") %> prohibited this weigh_in from being saved:</h2>

      <ul>
      <% @weigh_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
