<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @weigh_in.user_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @weigh_in.weight %>
</p>

<%= link_to 'Edit', edit_weigh_in_path(@weigh_in) %> |
<%= link_to 'Back', weigh_ins_path %>
