<html>
<head>
  <title>
    Your Health Profile
  </title>
  <%= stylesheet_link_tag "show" %>
</head>
<body>


<div id="user_card">
<h1 id="username"> Hello <%=@user.username %></h1>
<img src="http://placehold.it/350x150">

<p> Starting Weight: <%= @user.starting_weight %></p>
<p> Target Weight: <%= @user.target_weight %></p>
  <div id="current_weight_bmi">
     <p> Current Weight: <%= @user.current_weight %> </p>
     <p> Your BMI: <%= @user.calculate_bmi %> </p>
  </div>
  <div id="lbs_to_goal">
    <p> Pounds until you reach your goal: <%= @user.weight_to_goal %> </p>
  </div>
  <div id="cals_to_goal">
    <p> Calories you need to burn: <%= @user.calories_to_goal %> </p>
  </div>
</div>

    <div class="calculations">
      <p> <div>Starting Weight</div>: <%= @user.starting_weight %></p>
      <p> Target Weight: <%= @user.target_weight %></p>

      <p> Current Weight: <%= @user.current_weight %> </p>
      <p> Your last Weigh In: <%= @user.previous_weight %> </p>
      <p> Your caloric intake is: <%= @user.current_caloric_intake %> </p>
      <p> Your BMI: <%= @user.calculate_bmi %> </p>
      <p> Your basal metabolic rate is <%= @user.basal_metabolic_rate %> (calories needed to maintain your current weight) </p>
      <p> You Currently consume <%= @user.difference %> calories <%= @word %> than you burn per day </p>
      <p> If you do don't exercise, it will take you <%= @user.rest_loss_gain %> <%= @day %> to <%= @word2 %> a single pound </p>
      <p> Pounds until you reach your goal: <%= @user.weight_to_goal %> </p>
      <p> Calories you need to burn: <%= @user.calories_to_goal %> </p>
      <p> Burn <%= @user.weekly_burn_to_goal %> calories a day to lose it in a week (Good Luck) </p>
      <p> Burn <%= @user.monthly_burn_to_goal %> calories a day to lose it in a month </p>
      <p> Burn <%= @user.yearly_burn_to_goal %> calories a day to lose it in a year </p>
      <p> You could run... <%= @user.cals_to_miles_ran %> miles </p>
      <p> Thats <%= @user.miles_per_week %> miles per week </p>
    </div>
<%= form_for WeighIn.new do |f| %>

<div class="weight_inputs">
    <%= f.label :"Enter Current Weight" %><br>
    <%= f.text_field :weight %>
    <%= f.submit %>
<% end %>
<%= form_for DailyCaloricIntake.new do |f| %>
    <%= f.label :"Estimated Daily Calories" %><br>
    <%= f.text_field :calories %>
    <%= f.submit %>
    <% end %>
</div>
</body>
</html>
